<h1>Login</h1>

<form action="/operator" method="post" autocomplete="off">
  <label for="email">Email</label>
  <input type="text" name="email" value="">
  <label for="password">Password</label>
  <input type="password" name="password" value="">
  <button id="login" type="submit" name="button">Login</button>
</form>
