<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/operator">Operator Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/operator/manage_trains">Manage Trains</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/operator/manage_cities">Manage Cities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/operator_login">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="trains_display">
  <h3>Current Trains</h3>
  <ul>
    <% @trains.each do |train| %>
      <li><a href = "/operator/train/<%= train.id %>"><%= train.name %></a></li>
    <% end %>
  </ul>
</div>

<div class="cities_display">
  <h3>Current Cities</h3>
  <ul>
    <% @cities.each do |city| %>
      <li><a href = "/operator/city/<%= city.id %>"><%= city.name %></a></li>
    <% end %>
  </ul>
</div>
