<a href="/operator/manage_trains"><span class="btn btn-info">Manage Trains</span></a>
<a href="/operator/manage_cities"><span class="btn btn-info">Manage Cities</span></a>

<div class="trains_display">
  <h3>Current Trains</h3>
  <ul>
    <% @trains.each do |train| %>
      <li><a href = "/operator/train/<%= train.id %>"><%= train.name %></a></li>
    <% end %>
  </ul>
</div>

<div class="cities_display">
  <h3>Current Cities</h3>
  <ul>
    <% @cities.each do |city| %>
      <li><a href = "/operator/city/<%= city.id %>"><%= city.name %></a></li>
    <% end %>
  </ul>
</div>
