<h3>Current Cities</h3>
<% if @cities.any? %>
  <ul>
    <% @cities.each do |city| %>
      <li><a href="/view_cities/<%= city.id %>"><%= city.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no cities!</p>
<% end %>
