<h3>Current Trains</h3>
<% if @trains.any? %>
  <ul>
    <% @trains.each do |train| %>
      <li><a href="/view_trains/<%= train.id %>"><%= train.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no trains!</p>
<% end %>
